<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">SeatMyself</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%='active' if current_page? root_path %>">
            <%= link_to 'Home', :root %>
          </li>
          <li class="<%= 'active' if controller_name == 'restaurants' %>">
            <%= link_to 'Restaurants', :restaurants %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>