<li>
  <strong><%= link_to restaurant.name, restaurant %></strong>
  <br />
  <p>
    <em><%= restaurant.neighborhood %></em><br />
    <em><%= restaurant.address %></em><br />
    <em><%= restaurant.price %></em>
  </p>
</li>